[Unit]
Description="listener for github webhooks"
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ install_dir }}/hosting_infrastructure/webhook_listener
Environment="PATH={{ install_dir }}/hosting_infrastructure/venv/bin"
ExecStart="{{ install_dir }}/hosting_infrastructure/venv/bin/python app.py"
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target