[Unit]
Description="listener for github webhooks"
After=network.target

[Service]
User=root
Group=root
ExecStart={{ install_dir }}/hosting_infrastructure/venv/bin/python {{ install_dir }}/hosting_infrastructure/webhook_listener/app.py
Restart=always

[Install]
WantedBy=multi-user.target